.mr-top-wrap .ebOptDiv{
	margin-bottom:4px;
}
.mr-section-wrap{
	display:none;
}
.geoStatsWrap, .typeStatsWrap{
	display:none; margin-bottom:10px;
}
.geography{
	padding-top:4px;
}
.geography .chosen-wrap .chosen-container-single span{
	font-weight:bold; font-size:14px;
}
.geoNumWrap{
	display:flex; flex-wrap:wrap;
}
.geoNum{
	font-size: 13px;
    color: #438c9d;
    flex:1;
    margin-left: 10px;
    margin-top: 10px;
    min-width: 100px;
    box-shadow: 0 1px 1px rgba(16,22,26,.2);
    border: 1pt solid #ddd;
    padding: 2px 0 2px 4px;
    cursor:pointer;
}
.geoNum div{
	flex:1;
}
.geoNum div:first-of-type{
	color:#5d6165;
}	
.geoNum span, .geoNum1 span{
	font-weight:bold; font-size:15px; text-align:right;
}
.geoNum1{
	font-size:14px; color:#438c9d; margin-left:10px;
}
.ref-wrap span{
	margin-left:5px;
}
.bar { 
	fill: #0096d6; 
}
.tick text{
	margin-right:10px;
}
.domain{
	display:none;
}
.tick line{
	stroke:#fff;
}
#legWrap{
	max-height:350px; overflow-y:auto
}
#hideLeg{
	margin:0 -5px -5px -5px; background:rgb(240,240,240);
}
#showLeg{
	margin:-5px; padding:1px 4px; background:rgb(240,240,240);
}
#leg1{
	margin-bottom:8px;
}
#leg2{
	margin-bottom:10px;
}
.hsLeg{
	text-align:center; cursor:pointer; color:#22497A; font-weight:bold;
}
.hsLeg:hover{
	color:blue;
}
.hsLeg:active{
	color:darkblue;
}
.legendName{
	margin-bottom:3px; font-weight:bold;
}
.legendItem{
	display:flex; 
}
.liLabel{
	margin-left:2px;
}