.ebOptDiv{
	
}
.mr-section-wrap{
	
}
.geography{
	padding-top:4px;
}
.geoNum{
	font-size:14px; color:#438c9d; display:flex; margin-left:10px;
}
.geoNum div{
	flex:1;
}
.geoNum span, .geoNum1 span{
	font-weight:bold; font-size:16px;
}
.geoNum1{
	font-size:14px; color:#438c9d; margin-left:10px;
}